html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-weight: 600;

}

.sublink {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.mainlink {
  color: rgb(91, 167, 73);
  text-decoration: none;
  cursor: pointer;
}

.mainlink:hover {
  color: blue;
}